<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Square Open Source</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="/assets/base.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/public/favicon.ico" />

    <script src="/assets/modernizr.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="profile">
        <section class="profile-masthead" id="masthead">
          <header class="profile-logo">
            <div class="profile-logo-image">
              <img alt="Square Open Source " src="/images/logo.png" />
            </div>
            <div class="profile-name">
              <h1>Square Open Source</h1>
            </div>
          </header>
          <aside class="profile-summary">
            <div class="summary-location summary-module">
              <a href="http://github.com/square">github.com/square</a>
            </div>
          </aside>
        </section>

        <section class="profile-content" id="content">
          <!-- TODO header? -->

          <div class="profile-description">
            <p>As a company built on open source, here are some of the internally-developed libraries we have contributed back to the community.</p>
          </div>

          <article class="profile-menu" id="menu">
            <nav class="menu-navigation">
              <ul class="menu-navigation-list">
                {{#categories}}
                <li class="menu-navigation-list-item"><a href="#{{index}}">{{name}}</a></li>
                {{/categories}}
              </ul>
            </nav>

            {{#categories}}
            <div id="{{index}}" class="menu-category">
              <h3 class="menu-category-name">{{name}}</h3>
              {{#has_repos_with_images}}
              <ol class="menu-category-list has-images">
              {{#repos_with_images}}
              <li class="menu-item">
                <div class="menu-item-info{{^description}} has-no-meta-content{{/description}}">
                  <h4 class="menu-item-name">{{name}}</h4>
                  <span class="menu-item-price">{{#website}}<a href="{{website}}" target="_blank">Website</a> &middot; {{/website}}<a href="{{href}}" target="_blank">GitHub</a></span>
                  {{#description}}
                  <p class="menu-item-description">{{description}}</p>
                  {{/description}}
                </div>
                <div class="menu-item-image{{#description}} has-meta-content{{/description}}">
                  <img src="/repo_images/{{name}}.jpg" />
                </div>
              </li>
              {{/repos_with_images}}
              </ol>
              {{/has_repos_with_images}}
              {{#has_repos_without_images}}
              <ol class="menu-category-list">
              {{#repos_without_images}}
              <li class="menu-item">
                <div class="menu-item-info{{^description}} has-no-meta-content{{/description}}">
                  <h4 class="menu-item-name">{{name}}</h4>
                  <span class="menu-item-price">{{#website}}<a href="{{website}}" target="_blank">Website</a> &middot; {{/website}}<a href="{{href}}" target="_blank">GitHub</a></span>
                  {{#description}}
                  <p class="menu-item-description">{{description}}</p>
                  {{/description}}
                </div>
              </li>
              {{/repos_without_images}}
              </ol>
              {{/has_repos_without_images}}
            </div>
            {{/categories}}

            <a id="btn-view-full-menu" class="btn-view-full-menu" href="http://github.com/square">View full list of repositories</a>
          </article>

          <section class="profile-modules" id="modules">
            <ul class='twitter-columns'>
              <li class="profile-module module-twitter">
                <h2 class="module-name">Tweets</h2>
                <a class="twitter-timeline" href="https://twitter.com/SquareEng" data-widget-id="281462446621851648" data-screen-name="SquareEng" data-chrome="none" data-link-color="#50a9ca" data-heading-style="color:#2d3c48;font-size:22px;font-weight:300;line-height:17px;font-family:'SQMarket', 'Helvetica Neue',sans-serif;" height="635" width="100%"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </li>
              <li class="profile-module">
                <h2 class="module-name">Join us</h2>
                <ul class="module-list">
                  <li><a href="https://developer.squareup.com/blog/">Engineering Blog</a> &ndash; developer.squareup.com/blog</li>
                  <li><a href="https://squareup.com/careers">Careers Page</a> &ndash; squareup.com/careers</li>
                  <li class="module-social">
                    <a href="https://twitter.com/SquareEng" target="_blank"><i class="icon-twitter"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </section>
      </div>
    </div>

    <footer class="footer">
      <nav class="footer-navigation">
        <i class="icon-square-footer"></i>
        <ul class="footer-navigation-list">
          <li class="footer-navigation-item"><a href="https://squareup.com/developers">Square Developer</a></li>
          <li class="footer-navigation-item"><a href="https://github.com/cashapp">Cash App</a></li>
          <li class="footer-navigation-item"><a href="https://squareup.com/security">Security</a></li>
          <li class="footer-navigation-item"><a href="https://squareup.com/legal/privacy">Privacy</a></li>
          <li class="footer-navigation-item"><a href="https://squareup.com/help" class="track">Help Center</a></li>
        </ul>
        <p class="copyright">© 2009–2020 Square, Inc. All rights reserved.</p>
      </nav>
    </footer>

    <script type="text/javascript">
      if(window == window.top) document.body.style.display = "block"; else window.top.location = window.location;

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40704740-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
